.overview-map{
    background-color: #000;
    width: 100%;
    height: auto;
    padding: 1.5rem;
    color: #fff;
}
.text-title{
    width: 100%;
    text-align: left;   
}
.text-title h2{
    color: #fff !important;
}
.search-bar{
    width: 100%;
    height: 30px;
    padding-bottom: 20px;
}
.search-bar input[type=search]{
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: #000;
    border: 0;
    border-bottom: 2px solid #fff;
    color: #fff;
    width: 100%;
}
.search-bar input[type=search]::placeholder{
    color: #fff;
}
.dis-flex{
    display: flex;
}
.button-points{
    justify-content: left;
    width: 100%;
    align-items: center;
    text-align: left;
    background-color: transparent;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}
.button-points p{
    margin: 7px;
}
.column-left a{
    position: relative;
    color: #fff;
    z-index: 3;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

.column-left a:hover{
    position: relative;
    color: #e8ca4d ;
    z-index: 3;
    text-decoration: none;
}

/* .box-text-2:hover .planet-icon{
    fill: #e8ca4d !important;
} */
.logo-nut{
    background-color: rgb(19, 16, 188);
    width: 45px;
    height: 45px;  
}
.button-points:hover .logo-nut {
    background-color: #e8ca4d;
}
.button-points .logo-nut.active {
    background-color: #e8ca4d;
}
.columns-map{
    height: 600px;
    gap: 50px;
}
.container-external {
    width: 30%;
    height: 98%;
    direction: rtl;
    overflow-y: auto;
    padding-left: 10px;
}
.column-left{
    width: 100%;
    height: 100%;
    direction: ltr;
}
.container-external::-webkit-scrollbar{
    width: 3px;
    background-color: #8e8e8e;
    border-radius: 20px;
}
.container-external::-webkit-scrollbar:window-inactive {
    display: none;
}
.container-external::-webkit-scrollbar-thumb  {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}
.column-right{
    width: 70%;
    height: 100%;
}

.box-text-2{
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    align-items: flex-end;
    justify-content: end;
    height: 38px;
    margin-left: auto;
}
.map-styles{
    width: 100%;
    height: 100%;
}


